## Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information.

In [2]:
#Differentiation between SQL and NoSQL database: 
#SQL databases are based on a relational data model. They use table to store data, and data in these tables is organized into rows and columns.
#NoSQL databases encompass various data models, including documents orientd, key-value, column-family and graph databases.

##  Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [1]:
# DDL stand for Data Definiton language and it is a subset of SQL used for defining and managing the structure of a database.

In [2]:
# CREATE statement is used to create new database objects, such as table indexes and views.

In [3]:
#Drop: It is used to delete existing database objects like table indexes or views.

In [4]:
#ALTER: This statement is used to modify the structure of an existing databse object sucha s adding ,modifying or deleting column from the table.

In [5]:
#TRUNCATE: This statement is sued to quickly delete all the data from the table, but it retains the table structure.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
# DML stands for Data Manipulation Language, which is also a subset of SQL that is used for manipulation and interacting with data stored in the database.

In [7]:
#INSERT: The INSERT statement is used to add new records into a database table.

In [8]:
#UPDATE: this statement is used to edit or modify existing records.

In [9]:
#DELETE: THis command or statement is used to remove specific records from a database table.

## Q4. What is DQL? Explain SELECT with an example.

In [10]:
# DQL stand for Data Query Language, and it is a subset of SQL that is used for retrieving and querying data from a database.

In [12]:
# SELECT: This statement is used to retrieve data from one or more table in a database.

# to retrieve list of employee names and salaries form Employees table:
SELECT FirstName, LastName, Salary
FROM Employees:

SyntaxError: invalid syntax (1855207814.py, line 4)

## Q5. Explain Primary Key and Foreign Key.

In [13]:
# Primary Key: A Primary Key is a database constraint that ensures the uniqueness and intergrity of rows in a database table.

In [14]:
#Foreign Key: Foreign Key is a database constraint used to establish a link or relationship between two table in a relational database. It is a column or as set of columns in oe table that refers to the primary key of another table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [15]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 48.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
import mysql.connector

db_config = { 
    "host": "localhost",
    "user":"your_username",
    "password": "your_password",
    "database": "your_database"
}

try:
    connection = mysql.connector.connect(**db_config)
    print("Connected to MySQL")
except mysql.connector.Error as err:
    print(f"Error:{err}")
    
cursor = connection.cursor()
create_table_query ="""
CREATE TABLE IF NOT EXISTS students(
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
)
"""

SyntaxError: incomplete input (1330305683.py, line 8)

## Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# The order of execution of SQL clauses in an SQL query:
# 1 SELECT
# 2 FROM
# 3 WHERE
# 4 GROUP BY
#5 HAVING
# 6 ORDER BY